cat > .gitignore <<EOF
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
EOF
git add .gitignore
git commit -m "Add Terraform .gitignore"
